test
*.tfstate
*.tfstate.*
.terraform.lock.hcl
.terraform/
# Terraform
*.tfvars
*.tfstate
*.tfstate.backup
.terraform/
# Terraform
**/terraform/*.tfvars
**/*.tfstate
**/*.tfstate.*
**/.terraform/
ansible/inventory/hosts.ini
